@media only screen and (min-width: 320px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background: #88d4e7;
    background: -webkit-linear-gradient(to left, #94e3f7, #9879d1);
    background: linear-gradient(to left, #95e6fa, #9879d1);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  .content {
    overflow: scroll;
  }

  h1 {
    text-align: center;
    font-size: 40px;
    margin: 0 auto;
    padding: 0;
    font-family: "Dancing Script", cursive;
    color: #9879d1;
  }

  .border {
    width: 60vw;
    height: 80%;
    position: relative;
    background-color: white;
    border: 4px solid gold;
    padding: 20px;
    margin: 50px auto;
    transform: rotate(2deg);
    text-align: center;
  }

  .border:after {
    content: "";
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    border: 4px solid gold;
    z-index: -1;
    transform: rotate(-4deg);
  }

  .content {
    transform: rotate(-2deg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  p {
    font-size: 28px;
    font-family: "Dancing Script", cursive;
    padding: 10px 0;
  }

  .invite {
    font-family: "Redressed", cursive;
    font-size: 20px;
  }

  .details {
    color: #6ebfd3;
    font-size: 24px;
  }

  #rsvp {
    height: 20%;
    padding: 10px;
    margin-top: 20px;
  }

  .rsvp_reply {
    font-size: 16px;
  }

  #form {
    display: none;
    height: 30%;
    flex-direction: column;
  }

  .name {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  #submit,
  .rsvpSubmit,
  .eveningInvite {
    width: 60%;
    background-color: #9879d1;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: "Redressed", cursive;
    font-size: 18px;
  }

  .eveningInvite {
    background-color: gold;
  }

  .rsvpSubmit {
    margin: 5px 5px;
    width: 90%;
  }

  #submit:hover,
  .rsvpSubmit:hover,
  .goBack:hover {
    border: 1px solid black;
    cursor: pointer;
  }

  form fieldset {
    border: 0;
  }

  #diet {
    width: 80%;
  }

  #thanks,
  #error,
  #noRsvp {
    display: none;
  }

  #noRsvp fieldset {
    border: 0;
  }

  .goBack {
    margin: 10px;
    background-color: #94e3f7;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-family: "Redressed", cursive;
    font-size: 18px;
  }

  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
  }

  .btn {
    border: 2px solid #9879d1;
    color: black;
    font-family: "Redressed", cursive;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-weight: bold;
  }

  .upload-btn-wrapper input[type="file"] {
    height: 50px;
    width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
  }

  .menu {
    width: 50%;
    border: 1px solid black;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
  }

  .rsvp_reply {
    color: black;
    width: 80%;
    margin: 0 auto;
  }

  #additional_info {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  #getting_there, #hotel, #parking, #children, #gifts {
    border: 1px solid black; 
    width: 70%;
    margin: 5px auto;
    padding: 5px;
  }

  #getting_there p, #hotel p, #parking p, #children p, #gifts p{
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }

  a {
    color: black;
    font-size: 12px;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
  
  .info_buttons {
    background-color: gold;
    padding: 5px;
    border-radius: 5px;
    border: none;
    border: 1px solid gold;
    margin: 5px;
  }

  .info_buttons:hover {
    border: 1px solid black;
    cursor: pointer;
  }
}

@media only screen and (min-width: 505px) {
  .border {
    height: 90%;
  }

  h1 {
    font-size: 60px;
  }

  .name {
    align-items: center;
  }

  .name label {
    padding-right: 5px;
  }

  .name input {
    width: 50%;
  }

  #submit,
  .rsvpSubmit {
    width: 30%;
  }

  .rsvp {
    width: 70%;
    margin: 0 auto;
  }

}



@media only screen and (min-width: 1000px) {
  a {
    font-size: 16px;
  }

  #additional_info {
    display: flex;
    flex-direction: row;
  }
}

